<p id="notice"><%= notice %></p>

<h1>Listing Jiras</h1>

<table>
  <thead>
    <tr>
      <th>Ticket</th>
      <th>Key</th>
      <th>Sumary</th>
      <th>Issue type</th>
      <th>Status</th>
      <th>Priority</th>
      <th>Resolution</th>
      <th>Reporter</th>
      <th>Created</th>
      <th>Description</th>
      <th>Date of first response</th>
      <th>Sales priority</th>
      <th>Acceptance criteria</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jiras.each do |jira| %>
      <tr>
        <td><%= jira.ticket_id %></td>
        <td><%= jira.key %></td>
        <td><%= jira.sumary %></td>
        <td><%= jira.issue_type %></td>
        <td><%= jira.status %></td>
        <td><%= jira.priority %></td>
        <td><%= jira.resolution %></td>
        <td><%= jira.reporter %></td>
        <td><%= jira.created %></td>
        <td><%= jira.description %></td>
        <td><%= jira.date_of_first_response %></td>
        <td><%= jira.sales_priority %></td>
        <td><%= jira.acceptance_criteria %></td>
        <td><%= link_to 'Show', jira %></td>
        <td><%= link_to 'Edit', edit_jira_path(jira) %></td>
        <td><%= link_to 'Destroy', jira, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Jira', new_jira_path %>
